body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

/* Barra navegación */

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

#menuizq {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
}

#menuizq a {
    padding: 10px;
    font-size: 13px;
    color: gray; 
}

#menuder {
    display: flex;
    justify-content: flex-end; 
    align-items: flex-start;
}

#menuder a {
    padding: 10px;
    font-size: 13px;  
    color: gray; 
}

#menuder button {
    border: 1px solid #4285f4;
    border-radius: 1px;
    color: white;
    font-weight: bold;
    background: #4285f4;
    height: 30px;
}

nav a {
    color: black;
    text-decoration: none;
}

/* Contenido */

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#container img {
    padding-bottom: 30px;
}

#container p {
    font-size: 13px;
}

#container a {
    padding-right: 5px;
    text-decoration: none;
}

#botones {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

#botones button {
    height: 40px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: gray;
    font-size: 14px;
    margin: 5px;
    padding: 0 16px;
    cursor: pointer;
}

#buscador {
    background: white;
    display: flex;
    border: 1px solid lightgray;
    border-radius: 24px;
    height: 45px;
    width: 500px;
    text-align: left;
    padding: 0 50px;
}

#icon {
    position: absolute;
    top: 31%;
    left: 38%;
    color: gray;
}

#buscador:hover {
    -webkit-box-shadow: 0px 0px 8px -1px rgba(186,186,186,1);
    -moz-box-shadow: 0px 0px 8px -1px rgba(186,186,186,1);
    box-shadow: 0px 0px 8px -1px rgba(186,186,186,1);
}

/* Footer */

footer {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.foot {
    background: #f2f2f2;
    line-height: 40px;
    min-width: 980px;
    border-top: 1px solid #e4e4e4;
    font-size: 15px;
}

.textofooter {
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    color: #999999;
}

.textofooter a{
    color: gray;
}

footer a {
    color: black;
    text-decoration: none;
    padding-right: 20px;
    font-size: 13px;
}

#footerizq {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;      
}

#footerder {
    display: flex;
    
}


@media only screen and (max-width: 600px) {
    #icon {
        position: absolute;
        top: 41.5%;
        left: 8%;
        color: gray;
    
    }

    #buscador {
        width: 450px;
    }

    .textofooter {
        display: flex;
        flex-direction: column;
        
    }
  }
